<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693458711577-iji15q6eq4lvmp22dgvd070jbmokhdoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693458711577-iji15q6eq4lvmp22dgvd070jbmokhdoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>693458711577-3d4bjgrpeuh20rq1vkiv7c77v6fmof1i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARiDDv2zgfD-JNFjhh2IiVhq0GW74H7Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>693458711577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.boaty</string>
	<key>PROJECT_ID</key>
	<string>boaty-20441</string>
	<key>STORAGE_BUCKET</key>
	<string>boaty-20441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693458711577:ios:976a16520cded11a552688</string>
</dict>
</plist>